Application_Rest/Rest/SOA/WADLs/Nameservice.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="Nameservice">RestService</doc>
   <resources>
      <resource path="/c/getnames">
         <method name="GET" soa:name="NAme">
            <request>
               <param name="FirstName" style="query" type="xsd:string"/>
               <param name="Lastname" style="query" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json"/>
            </response>
            <response status="500"/>
         </method>
      </resource>
   </resources>
</application>
